@(jobPost: Seq[JobItem],companyInfo: Seq[CompanyDescription])

@main("Profile") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
    
    @for(info <- companyInfo){


    <div class="info-container">
        <h3 class="text-heading"></h3>
        <div class="text-info">
            <strong>Company Type:@info.companyType</strong> 
        </div>
        <div class="text-info">
            <strong>Our purpose:@info.purpose</strong> 
        </div>
    </div>
    

    <div class="info-container">
        <h3 class="text-heading">Our jobs:</h3>
        <h1>Jobs Associated with company: @info.companyName</h1>
      
        @for(job <- jobPost) {
          <div class="info-box">
            <div class="text-info">
              @job.hours
            </div>
            <div class="text-info">
              <a href="@routes.TigerHire.job(job.id)">@job.name</a>
            </div>
            <div class="text-info">
              <a href="@routes.TigerHire.viewCompany(job.cId.getOrElse(-1))">@info.companyName</a>
            </div>
            <div class="text-info">
              @job.location
            </div>
            <div class="text-info">
              @job.remote
            </div>
          </div>
        }
      }
        <!-- Here we need to render links to their list of jobs. Should look similar to home page. -->
    </div>
}
