@(pageName: String)

<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <button class="navbar-button" onClick="window.location.href='@routes.TigerHire.jobPostList'">TigerHire</a>
        </div>
        <div class="navbar-links">
            <button class="navbar-button" onClick="window.location.href='@routes.TigerHire.inbox'">Inbox</a>
            <button class="navbar-button" onClick="window.location.href='@routes.TigerHire.profilee'">Profile</a>
            <button class="navbar-button" onClick="window.location.href='@routes.TigerHire.logout'">Logout</a>
        </div>
    </div>
</nav>