@(pageName: String)

<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <button class="navbar-button" onClick="window.location.href='@routes.TigerHire.profileList'">TigerHire</a>
        </div>
        <div class="navbar-links">
            <button class="navbar-button" onClick="window.location.href='@routes.TigerHire.rinbox'">Inbox</a>
            <button class="navbar-button" onClick="window.location.href='@routes.TigerHire.rprofile'">Profile</a>
            <button class="navbar-button" onClick="window.location.href='@routes.TigerHire.createJobPage'">Create Job</a>
            <button class="navbar-button" onClick="window.location.href='@routes.TigerHire.rApplication'">Applications</a>
            <button class="navbar-button" onClick="window.location.href='@routes.TigerHire.logout'">Logout</a>
        </div>
    </div>
</nav>