.info-container {
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px #800000;
}

.info-box {
    max-width: 560px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px #800000;
}

.search-box{
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    padding: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px #800000;
    text-align: center;
}

.search-bar{
    text-align: center;
    padding: 20px;
    max-width: 600px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #800000;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    text-align: center;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #800000;}

.text-heading {
    color: #333;
    text-align: center;
}

.text-info {
    margin-top: 10px;
}

strong {
    margin-right: 5px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    color: #555555;
}

button {
    background-color: #800000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #a00101;
}

.navbar {
    width: 100%;
    background-color: maroon;
    padding: 10px 0;
    color: white;
    margin: 0;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-button {
    background-color: #a00101;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    color: white;
    padding: 10px 15px;
    border: grey;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  h2 {
    color: #333333;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .switch-button {
    background-color: slategray;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .switch-button:hover {
    background-color: darkslategrey;
  }
  
